
//COLORES
$blanco: #FFFFFF;
$negro: #000000;
$verde: #0f6fd7;
$rosa: #cacdfb;
$amarillo: #8c88f1;
$morado:#752F97;


$color_blanco:#ffffff;
$color_bg1:#2a4ba3;
$color_bg2:#356fdb;
$color_bg3:#c4def9;
$color_bg4:#2955bc;
$color_bg5:#00000099;

//TIPOGRAFIA
$fuente_principal:'Montserrat', sans-serif;

//DIMENCION DEL DISPOSITIVO
$dim_pc:1024px;
$dim_tablet:768px;
$dim_telefono:480px;