
//COLORES
$blanco: #FFFFFF;
$negro: #000000;
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado:#752F97;

//TIPOGRAFIA
$fuente_principal:'Montserrat', sans-serif;

//DIMENCION DEL DISPOSITIVO
$dim_tablet:768px;
$dim_telefono:480px;