@use 'base/variables' as va;
@use 'base/mixins' as mix;

.festival{
    padding: 5rem 0;

    @include mix.tablet{
        @include mix.grid(2, 5rem);
    }
}

.festival-imagen{
    display: flex;
    place-items: center;
}

.contenido-festival{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mix.tablet{
        margin-top: 0;
    }

    h2{
        margin-bottom: 2rem;
        color: va.$color_bg1;
        text-align: center;

        @include mix.telefono{
            text-align: center;
        }
        @include mix.tablet{
            text-align: left;
        }
        @include mix.pc{
            text-align: left;
        }
    }

    .fecha{
        color: va.$color_bg2;
        font-weight: 700;
    }

    p{
        text-align: justify;
    }

}
