//IMPORTAR VARIABLES
@use 'base/variables' as va; 
@use 'base/mixins' as mix;


.header{
    background-color: va.$color_bg2;
    z-index: 99;

    @include mix.tablet{
        &.fijo{
            position: fixed;
            width: 100%;
            box-shadow: 0.1rem 0.2rem 0.1rem #333;
            left: 0;
            top: 0;
        }
    }

    h1{
        margin: 0;
        padding: 3rem 1rem;
        text-align: center;
        background-color: va.$color_bg4;
        width: 100%;

        &:hover{
            text-shadow: 0px 0px 10px rgb(6, 197, 250);
        }
    
        @include mix.telefono{
            padding: 2rem 1rem;
            width: 100%;
            text-align: center;
            background-color: va.$color_bg4;
        }
        @include mix.tablet{
            padding: 0 1rem;
            text-align: left;
            background-color: transparent;
        }
        @include mix.pc{
            background-color: transparent;
        }
    }
}
.contenido-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0; 

    @include mix.telefono{
        flex-direction: column;
        padding: 0;
    }
    @include mix.tablet{
        flex-direction: row;
        padding: 0 5rem;
    }
    @include mix.pc{
        flex-direction: row;
        padding: 0 0;
    }

    .navegacion-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include mix.telefono{
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        @include mix.tablet{
            flex-direction: row;
            justify-content: end;
        }
        @include mix.pc{
            flex-direction: row;
            justify-content: end;
        }

        a{ 
            color: va.$color_bg3;
            font-size: 2.2rem;
            font-weight: 600;
            padding: 1.5rem 3rem;
            text-align: center;
            white-space: nowrap;

            &:hover{
                background-color: va.$color_bg1;
            }

            @include mix.telefono{
                padding: 1.5rem 3rem;
            }
            @include mix.tablet{
                padding: 3.5rem 1.5rem;
            }
            @include mix.pc{
                padding: 3.5rem 3rem;
            }
        }

    }


}