@use 'base/variables' as va;
@use 'base/mixins' as mix;

.lineup{
    padding: 5rem 0;
    background-color: #00dade8c;
    background-image: linear-gradient(282deg, #00dadec1 0%, #ef11f3d0 100%);


    h3, p{
        text-align: center;
        color: va.$color_bg1;
        font-size: 3rem;
    }
    .dia{
        text-transform: uppercase;
        margin: 5rem 0;
    }
}


.escenario-contenedor{
    margin: 0 auto;
    @include mix.tablet{
        @include mix.grid(2, 5rem);
    }

    p{
        color: va.$color_bg1;
        font-weight: 600;
    }
}

.escenario{
    padding: 3rem;
    margin-bottom: 5rem;

    @include mix.tablet{
        margin-bottom: 0rem;
    }

    .nomre-escenario{
        &:after{
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;
        
        }
    }

}  

.rock .nomre-escenario:after{
    background-image: url(../img/icono_rock.png);
    filter: invert(100%) brightness(200%);
}

.edm .nomre-escenario:after{
    background-image: url(../img/icono_edm.png);
    filter: invert(100%) brightness(200%);
}

.calendario{
    @include mix.reset_list;

    li{
        padding: 2.5rem;
        font-weight: 700;
        color: rgb(194, 200, 227);

        span{
            font-weight: 400;
        }
    }
}


.bg-amarillo{
    background-color: rgba(23, 72, 249, 0.405);

    li:nth-child(odd){ //ELIGE ALTERNADO--
        background-color: rgba(0, 4, 255, 0.405)
    }
}

.bg-verde{
    background-color: va.$color_bg5;

    li:nth-child(odd){ //ELIGE ALTERNADO--
        background-color: rgba(11, 16, 27, 0.405)
    }
}